<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <div *ngFor="let pelicula of favoritosGenero">
    
    <ion-grid *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h4> {{ pelicula.genero }} </h4>
        </ion-col>
      </ion-row>
      <app-slidershow-poster-v2 [peliculas]="pelicula.pelis"></app-slidershow-poster-v2>
    </ion-grid>
    
  </div>

</ion-content>
